{% extends '::base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" method="post">
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        {{ "button.save" | trans | desc('Save button') }}
                    </button>
                    <a class="btn btn-default" href="{{ path('app_admin_servers') }}">
                        {{ "button.cancel" | trans | desc('Cancel Button') }}
                    </a>
                </div>
            </form>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('[data-toggle]').tab();
    </script>
{% endblock javascripts %}

